*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            margin-top: 0;
        }
    .parent{
        background: url(image/Rectangle_87.png) no-repeat center/cover;
        height: 100vh;
    }
    .mum{
       display: grid;
       place-content: center;
       min-height: 100vh;
       color: #fff;
       font-size: 2rem;
    }

        /* .marvellous {
            position: relative;
            top: 430px;
            text-align: center;
            font-family: Mulish;
             font-weight: 700;
            font-style: Bold;
            font-size: 3rem;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            color: #FFFFFF;
        } */

        /* .mezie {
            position: relative;
            top: 500px;
            text-align: center;
            font-family: Mulish;
            font-weight: 300;
            font-style: SemiBold;
            font-size: 2rem;
            leading-trim: NONE; 
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            color: #FFFFFF;

        } */
        .card{
        /* padding: 20 30;
        /* angle: 0 deg; */
        opacity: 1;
        /* top: 234px; */
       left: 4px;
      /* border-radius: 5px; */
      /* background:#ccc; */
      width: 320px;
      height: 55px;
      background: #ccc;
      margin: 20px;
        }
        .friend{
          height: 55px;
        }
        .gift{
            height: 39px;
            width: 40px;
            position: relative;
            top:10px ;
            left: 15px;
            border-radius: 3px;
            border: none;
            background: green;
            color: #FFFFFF;
        }
        .precious{
            position: relative;
            top: 10px; ;
            left: 40px;

        }
        .bright{
        width: 347px;
      height: 55px;
      background: #ccc;
      margin: 20px;
        }
        .luno{
            height: 39px;
            width: 40px;
            position: relative;
            top:10px ;
            left: 15px;
            border-radius: 3px;
            border: none;
            background: green;
            color: #FFFFFF;
        }
        .thelma{
             position: relative;
            top: 10px; ;
            left: 40px;
        }
        .Franklin{
        width: 384px;
      height: 55px;
      background: #ccc;
      margin: 20px;
        }
        .spa{
            height: 39px;
            width: 40px;
            position: relative;
            top:10px ;
            left: 15px;
            border-radius: 3px;
            border: none;
            background: green;
            color: #FFFFFF;
        }
        .desk{
             position: relative;
            top: 10px; ;
            left: 40px;
        }
        .tech{
            height: 39px;
            width: 200px;
            position: relative;
            top:10px ;
            left: 15px;
            border-radius: 3px;
            border: none;
            background: green;
            color: #FFFFFF; 
        }
        .Amaka{
            display: flex;
            justify-content: space-evenly;
                }
        .uwana{
        width: 100%;
        height: 50vh;
        }
        .copilot{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
        .copilot > div{
              background: rgb(44, 134, 44);padding: 14px;
              color: #fff;
              border-radius: 10px;
        }
        .copilot > div p{
            flex-grow: 1;
        }
        .copilot > div button{
            padding: 12px 35px;
            width: 100%;
            margin: 30px 0 0 0;
        }
        /* .agent{
       
        }
        .franthel{
         background: rgb(44, 134, 44);
        }
        .treatment{
        background: rgb(44, 134, 44);
        }
        .mode{
            background: rgb(44, 134, 44);

        }
        .fees{
            background: rgb(44, 134, 44);

        } */
        .Savings{
            background: lightskyblue;
            padding: 45px 0;
        }
        .type{
            text-align: center;
        }
        .context{
        width: 100%;
        height: 70vh;
           
        }
        .Fan{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
   
        /* .cling{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            background:#fff ;
    width: 900px;
    position: relative;
        } */
        .Fan{
            display: flex;
            justify-content: space-evenly;
        }
       
        /* Newsletter */
        .newsletter{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            background: rgb(7, 114, 185);
            color: #fff;
            padding: 50px 20px;
            margin: 50px 0;
        }
        /* Footer */
        .beauty{
            background: rgba(55, 152, 55, 0.745);
            color: #fff;
            padding: 20px;
        }
        .gold{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 30px;
        }
        /* @media screen for Mobile */
        @media screen and (min-width:0) and (max-width:700px) {
            .Amaka{
                display: block;
            }
            .honda{
                margin: 30px 0;
            }
            .agent{
                display: grid;
                grid-template-columns: auto;
            }
            .copilot > div{
                margin: 20px 0;
            }
            .img{
                width: 50px;
                /* height:40px */
            }
            .copilot{
                display: grid;
                grid-template-columns: auto;
            }
            .fan{
                display: grid;
                grid-template-columns: auto;
            }
            
        }